h1 {
    color: green;
}

table,
th,
td {
    border: 2px solid black;
    border-collapse: collapse;

    padding: 1em;
}

.para {
    border: 5px soild red;
    padding: 2em;
    width: 40%;
    text-align: justify;
    color: red;
    background-color: beige;
    background-image: url(https://img.freepik.com/premium-photo/silhouette-lonely-man-sitting-tree-sunset-feeling-sad-depressed_536250-3211.jpg?w=360);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}