h1 {
    color: blue;
    height: 100px;
}
h2 {
    color: red;
}
.container {
    border: 5px solid green;
    height: 400px;

    display:flex;

    justify-content: start;
    justify-content: end;
    justify-content:space-between; 
    justify-content: center;
    justify-content: space-evenly;
    justify-content: space-around;  


    align-items: start;
    align-items: center;
    align-items: end; 
    align-items: center;
}

.box {
    border:5px solid blue;
    margin: 1em;
    padding: 1em;

    min-height: 100px;
    width: 300px;
    text-align: justify;

}