* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: sans-serif;
}

header {
    margin: 2em 0;
    font-size: 25px;
}

.navbar {
    padding: 1em;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: sticky;
    top: 0;

    background: white;

    box-shadow: 0 0 10px gray;
}

.navbar a {
    padding: .5em 2em;
    text-decoration: none;
}

.hero {
    background: #000 url("https://www.w3schools.com/w3images/architect.jpg") no-repeat center/cover;
    height: 90vh;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 30px;
}

.hero h1 {
    color: white;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);

    gap: 1em;
}

.projects img {
    width: 100%;
}


.card_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}

.card {
    padding: 1em;
}

.card img {
    width: 100%;
}

.card h4 {
    margin: 1em 0;
}

.contact form {
    padding: 1em;

    display: grid;
    gap: 1em;
}

form input {
    padding: .5em;
}

form input[type="submit"] {
    background: black;
    color: white;

    width: fit-content;
}

.image {
    width: 100%;
}

footer {
    padding: 3em;
    text-align: center;

    background: black;
    color: white;
}

@media (max-width: 768px) {
    .projects, 
    .card_container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 577px) {
    .projects,
    .card_container {
        grid-template-columns: 1fr;
    }
}
